.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/FlashCpp/FileContentIndex/36c57990-a9e9-4dff-8649-a8cf311b9456.vsidx
.vs/FlashCpp/FileContentIndex/238f2402-b426-41f5-8f8c-321b7a2be811.vsidx
.vs/FlashCpp/FileContentIndex/27885a5f-be1d-4a7b-a30b-dab55bd7639d.vsidx
.vs/FlashCpp/FileContentIndex/f1094fef-c269-4ac9-bdac-c6e656d1b485.vsidx
.vs/FlashCpp/FileContentIndex/read.lock
.vs/FlashCpp/v17/.suo
.vs/FlashCpp/v17/.wsuo
.vs/FlashCpp/v17/Browse.VC.db
.vs/FlashCpp/v17/Browse.VC.db-shm
.vs/FlashCpp/v17/Browse.VC.db-wal
.vs/FlashCpp/v17/Browse.VC.opendb
.vs/FlashCpp/v17/ipch/AutoPCH/65b67942598f396f/MAIN.ipch
.vs/FlashCpp/v17/ipch/AutoPCH/9afc78c173f9ed63/COMPILECONTEXT.ipch
x64/Debug/FlashCpp.exe
x64/Debug/FlashCpp.exe.recipe
x64/Debug/FlashCpp.ilk
x64/Debug/FlashCpp.log
x64/Debug/FlashCpp.pdb
x64/Debug/FlashCpp.vcxproj.FileListAbsolute.txt
x64/Debug/main.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/vcpkg.applocal.log
x64/Debug/FlashCpp.tlog/CL.command.1.tlog
x64/Debug/FlashCpp.tlog/CL.read.1.tlog
x64/Debug/FlashCpp.tlog/CL.write.1.tlog
x64/Debug/FlashCpp.tlog/FlashCpp.lastbuildstate
x64/Debug/FlashCpp.tlog/link.command.1.tlog
x64/Debug/FlashCpp.tlog/link.read.1.tlog
x64/Debug/FlashCpp.tlog/link.write.1.tlog
Debug/
.vs/
